body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    width: auto;
    padding: 20px;
    border: 2px solid black;
    background-color: white;
    text-align: left;
}

h1 {
    font-weight: bold;
    font-size: 40px;
}

.roman-list {
    list-style-type: lower-roman;
    font-size: 20px;
}